extends ../partials/layout

block content
  h1 Admin login
  if message.length > 0
    div= message

  h1 Login form
  form(action='/admin/login' method="POST")
    input(type="mail" name="email" placeholder="email")
    input(type="password" name="password" placeholder="password")
    button(type="submit") Login

  br
  hr
  br

  p Need an account? <a href="signup">Signup</a>
  p Or go <a href="/admin">Home</a>