doctype html
html
  head
    title= title
    block style
      link(rel='stylesheet', href='/css/style.css')
  body
    block content
    block scripts
      script(src="/js/lib/jquery.min.js")
      script(src="/js/config.js")
      script(src="/js/main.js")
      script.
        Main.init();