extends ../partials/layout

block content
  h1 Upload your photo
  form()
    label(for="category") Category
    input(type="text", name="category", id="category" placeholder="category")
    br
    label(for="nsfw") NSFW
    input(type="checkbox", name="nsfw", id="nsfw")

  form#dropzone
    input(type="hidden" name="category" value="" id="catData")
    input(type="hidden" name="nsfw" value="" id="nsfwData")
  
  input(type="button" value="Send" id="upload-image")


block append scripts
  script(src="/js/lib/dropzone.js")
  script(src="/js/partials/photoupload.js")
  script.
    photoUpload.init();