extends partials/layout

block content
  h1= category
  if photos.length > 0
    each photo in photos
      div.photo
        a(href="/photos/"+photo._id)
          img(src="/photos/"+photo._id, alt="")
        p= photo.name
  else 
    p Pas de photos
